$icon-font-path: "./bower_components/bootstrap-sass/assets/fonts/bootstrap/";
@import "./bower_components/bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "./bower_components/bootstrap-sass/assets/stylesheets/bootstrap";


body{
   background-color: #00b3ee;
  width: 100%;
}